### Import Library
Untuk memudahkan analisis dan pengolahan data. Dengan melakukan import library, kita dapat menggunakan/mengakses fungsi yang telah tersedia tanpa perlu membuatnya dari nol.

In [1]:
import pandas as pd
import numpy as np

### Membaca File CSV
Dapat dilakukan dengan menggunakan fungsi `pd.read_csv()`

In [5]:
data = pd.read_csv('D:\Kuliah\Semester 3\IPSD\Praktikum\MODUL 2 -\Movie_classification.csv')
data # Memanggil data, memperlihatkan 5 data teratas dan 5 data terbawah

<>:1: SyntaxWarning: invalid escape sequence '\K'
<>:1: SyntaxWarning: invalid escape sequence '\K'
C:\Users\ACER\AppData\Local\Temp\ipykernel_5936\2514748911.py:1: SyntaxWarning: invalid escape sequence '\K'
  data = pd.read_csv('D:\Kuliah\Semester 3\IPSD\Praktikum\MODUL 2 -\Movie_classification.csv')

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,21.2526,78.86,0.427,36624.115,142.6,8.680,8.775,8.620,8.970,6.80,492480,NO,186.96,243.584,Action,27,561,44800,0
502,20.9054,78.86,0.427,33996.600,150.2,8.780,8.945,8.770,8.930,7.80,482875,YES,132.24,263.296,Action,20,600,41200,0
503,21.2152,78.86,0.427,38751.680,164.5,8.830,8.970,8.855,9.010,7.80,532239,NO,109.56,243.824,Comedy,31,576,47800,0
504,22.1918,78.86,0.427,37740.670,162.8,8.730,8.845,8.800,8.845,6.80,496077,YES,158.80,303.520,Comedy,47,607,44000,0
505,20.9482,78.86,0.427,33496.650,154.3,8.640,8.880,8.680,8.790,6.80,518438,YES,205.60,203.040,Comedy,45,604,38000,0

### Menampilkan Informasi Data
Fungsi `data.info()` digunakan untuk memberikan ringkasan informasi tentang dataframe. Dapat berupa struktur data (jumlah baris dan kolom), tipe data setiap kolom, non-null count (jumlah nilai non-null setiap kolom, mendeteksi missing value), dan memori yand digunakan.

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
 18  Start_Tech_Oscar     506 non-null    int64
dtypes: float64(12), int64(5), object(2)
memory usage: 75.2+ KB

### Mengecek Nilai Duplikat
Dengan menggunakan fungsi `data.duplicated().sum()`, kita dapat melihat apakah terdapat data yang duplikat atau tidak.

In [7]:
data.duplicated().sum() 
# Tidak terdapat data duplikat dalam dataframe

np.int64(0)

### Mencari dan Menemukan Nilai Null untuk Presentase
Dengan menggunakan fungsi `data.isna().sum()`, dapat terlihat bahwa terdapat kolom yang memiliki nilai null, yaitu kolom `Time_taken`.

In [8]:
data.isna().sum()

Marketing expense       0
Production expense      0
Multiplex coverage      0
Budget                  0
Movie_length            0
Lead_ Actor_Rating      0
Lead_Actress_rating     0
Director_rating         0
Producer_rating         0
Critic_rating           0
Trailer_views           0
3D_available            0
Time_taken             12
Twitter_hastags         0
Genre                   0
Avg_age_actors          0
Num_multiplex           0
Collection              0
Start_Tech_Oscar        0
dtype: int64

In [10]:
(data.isna().sum()/len(data))*100

Marketing expense      0.000000
Production expense     0.000000
Multiplex coverage     0.000000
Budget                 0.000000
Movie_length           0.000000
Lead_ Actor_Rating     0.000000
Lead_Actress_rating    0.000000
Director_rating        0.000000
Producer_rating        0.000000
Critic_rating          0.000000
Trailer_views          0.000000
3D_available           0.000000
Time_taken             2.371542
Twitter_hastags        0.000000
Genre                  0.000000
Avg_age_actors         0.000000
Num_multiplex          0.000000
Collection             0.000000
Start_Tech_Oscar       0.000000
dtype: float64

Terdapat 12 missing value pada data Movie Classification yang harus dihilangkan dengan menggunakan drop missing value.

### Drop Missing Value
Drop missing value perlu dilakukan karena keberadaan missing value akan menyebabkan beberapa masalah dalam analisis atau pemodelan. Drop missing value akan dilakukan berdasarkan baris, kolom, imputasi mean, modus, dan median.

In [16]:
# Berdasarkan Baris
# Menghapus baris yang mengandung missing value
baris = data.copy(deep=True)
drop_baris = baris.dropna(axis=0)

In [17]:
# Berdasarkan Kolom
# Menghapus kolom yang memiliki missing value
kolom = data.copy(deep=True)
drop_kolom = kolom.dropna(axis=1)

In [25]:
# Berdasarkan Imputasi Mean
# Mengisi missing value dengan nilai mean (rata-rata) dari kolom tersebut
imputasi_mean = data.copy(deep=True)
imputasi_mean['Time_taken'] = mean_imputation['Time_taken'].fillna(mean_imputation['Time_taken'].mean())
imputasi_mean.isna().sum()

Marketing expense      0
Production expense     0
Multiplex coverage     0
Budget                 0
Movie_length           0
Lead_ Actor_Rating     0
Lead_Actress_rating    0
Director_rating        0
Producer_rating        0
Critic_rating          0
Trailer_views          0
3D_available           0
Time_taken             0
Twitter_hastags        0
Genre                  0
Avg_age_actors         0
Num_multiplex          0
Collection             0
Start_Tech_Oscar       0
dtype: int64

In [26]:
# Berdasarkan Imputasi Modus
# Mengisi missing value dengan nilai modus (nilai yang paling sering muncul) dari kolom tersebut
imputasi_modus = data.copy(deep=True)
imputasi_modus['Time_taken'] = modus_imputation['Time_taken'].fillna(modus_imputation['Time_taken'].mode()[0])
imputasi_modus.isna().sum()

Marketing expense      0
Production expense     0
Multiplex coverage     0
Budget                 0
Movie_length           0
Lead_ Actor_Rating     0
Lead_Actress_rating    0
Director_rating        0
Producer_rating        0
Critic_rating          0
Trailer_views          0
3D_available           0
Time_taken             0
Twitter_hastags        0
Genre                  0
Avg_age_actors         0
Num_multiplex          0
Collection             0
Start_Tech_Oscar       0
dtype: int64

In [27]:
# Berdasarkan Imputasi Median
# Mengisi missing value dengan nilai median (nilai tengah) dari kolom tersebut
imputasi_median = data.copy(deep=True)
imputasi_median['Time_taken'] = median_imputation['Time_taken'].fillna(median_imputation['Time_taken'].median())
imputasi_median.isnull().sum()

Marketing expense      0
Production expense     0
Multiplex coverage     0
Budget                 0
Movie_length           0
Lead_ Actor_Rating     0
Lead_Actress_rating    0
Director_rating        0
Producer_rating        0
Critic_rating          0
Trailer_views          0
3D_available           0
Time_taken             0
Twitter_hastags        0
Genre                  0
Avg_age_actors         0
Num_multiplex          0
Collection             0
Start_Tech_Oscar       0
dtype: int64

### Export Data Ke CSV dan Excel

In [28]:
drop_baris.to_excel('Movie_classification_clean_drop_baris.xlsx', index=False)
drop_kolom.to_excel('Movie_classification_clean_drop_kolom.xlsx', index=False)
imputasi_mean.to_excel('Movie_classification_clean_mean.xlsx', index=False)
imputasi_modus.to_excel('Movie_classification_clean_modus.xlsx', index=False)
imputasi_median.to_excel('Movie_classification_clean_median.xlsx', index=False)

drop_baris.to_csv('Movie_classification_clean_drop_baris.csv', index=False)
drop_kolom.to_csv('Movie_classification_clean_drop_kolom.csv', index=False)
imputasi_mean.to_csv('Movie_classification_clean_mean.csv', index=False)
imputasi_modus.to_csv('Movie_classification_clean_modus.csv', index=False)
imputasi_median.to_csv('Movie_classification_clean_median.csv', index=False)